

DIV.container {
	margin-top: 40px;
}

DIV.form-group {
	margin-top:15px;
    color: black;
    justify-content: center;
    width: 100%;

}

.btn.btn-primary{
	margin-top: 10px;
}

div.form
{
    text-align: center;

width: 100%;
  justify-content: center;

}
form
{
    text-align: left;
justify-content: center;
    width: 100%;

}

